<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClothesApp"
        tools:targetApi="31">
        <activity
            android:theme="@style/Theme.ClothesApp.NoActionBar"
            android:name=".activities.customer.ui.orders.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.ui.orders.CustomerOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tailor.ui.orders.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.ui.home.CreateOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.ui.home.TailorDesignsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.CustomerDashboard"
            android:exported="false"
            android:label="@string/title_activity_customer_dashboard"
            android:theme="@style/Theme.ClothesApp.NoActionBar" />
        <activity
            android:name=".activities.tailor.ui.works.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tailor.ui.works.WorkActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tailor.TailorDashboard"
            android:exported="false"
            android:label="@string/title_activity_tailor_dashboard" />
        <activity
            android:name=".activities.admin.AdminDashboard"
            android:exported="false"
            android:label="@string/title_activity_admin_dashboard" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>